.second-page-main-div {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.sub-div {
    width: 25rem;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 15px #888888;
    display: flex;
    justify-content: center;
    background-color: rgb(95, 158, 160);
    font-weight: bold;
}
.account-create {
    display: flex;
    justify-content: space-around;
}
h5 {
    color: white;
}
.error {
    color: red;
}
@media only screen and (max-width: 800px) {
    .main-div {
        width: 20rem;
    }
}
